    <div class="float-right d-none d-lg-block">
        <div class="float-left sprite phone-badge mr-2"></div>
        <div class="float-left text-center">
            <span class="grey">{{ 'header.help'|trans }}</span>
            <br />
            <span class="phone brown">{{ 'header.phone'|trans }}</span>
        </div>
    </div>