<header>
    <div class="float-left logo"></div>

    <div class="float-left accroche">
        <span class="mk-blue">{{ 'header.accroche.first'|trans }}</span>
        <br />
        <span class="mk-grey">{{ 'header.accroche.second'|trans }}</span>
    </div>
</header>